@model WBSAlpha.Models.GameOneBuild
@{ 
    bool uOwns = (bool) ViewData["UserOwnsBuild"];
    Weapon weaponOne = (Weapon) ViewData["WeaponOne"];
    Weapon weaponTwo = (Weapon)ViewData["WeaponTwo"];
    Rune offensiveRuneOne = (Rune)ViewData["ORuneOne"];
    Rune offensiveRuneTwo = (Rune)ViewData["ORuneTwo"];
    Rune defensiveRune = (Rune)ViewData["DRune"];
}
<div class="container">
    <div class="container mh-100" style="height: 75vh; border:2px solid black;">
        <div class="row">
            <h2 class="mx-auto p-1">@Html.DisplayFor(model => model.BuildName)</h2>
            <p class="mx-auto p-1">@Html.DisplayFor(model => model.Description)</p>
            <p class="mx-auto p-1">@Html.DisplayFor(model => model.CreationDate)</p>
        </div>
        <div class="row">
            <div class="col-4 mx-auto">
                <h4>@weaponOne.WeaponName</h4>
                <ul class="list-group" style="list-style: none;">
                    <li class="list-group-item">@weaponOne.WeaponDamage</li>
                    <li class="list-group-item">@weaponOne.WeaponHit</li>
                    <li class="list-group-item">@weaponOne.WeaponCrit</li>
                    <li class="list-group-item">@weaponOne.WeaponDescription</li>
                </ul>
            </div>
            <div class="col-4 mx-auto">
                <h4>@weaponTwo.WeaponName</h4>
                <ul class="list-group" style="list-style: none;">
                    <li class="list-group-item">@weaponTwo.WeaponDamage</li>
                    <li class="list-group-item">@weaponTwo.WeaponHit</li>
                    <li class="list-group-item">@weaponTwo.WeaponCrit</li>
                    <li class="list-group-item">@weaponTwo.WeaponDescription</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-3 mx-auto">
                <h4>Offensive Rune</h4>
                <ul class="list-group" style="list-style: none;">
                    <li class="list-group-item">@offensiveRuneOne.RuneName</li>
                    <li class="list-group-item">@offensiveRuneOne.RuneDescription</li>
                </ul>
            </div>
            <div class="col-3 mx-auto">
                <h4>Offensive Rune</h4>
                <ul class="list-group" style="list-style: none;">
                    <li class="list-group-item">@offensiveRuneTwo.RuneName</li>
                    <li class="list-group-item">@offensiveRuneTwo.RuneDescription</li>
                </ul>
            </div>
            <div class="col-3 mx-auto">
                <h4>Defensive Rune</h4>
                <ul class="list-group" style="list-style: none;">
                    <li class="list-group-item">@defensiveRune.RuneName</li>
                    <li class="list-group-item">@defensiveRune.RuneDescription</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mx-auto">
                <p>@Html.DisplayFor(model => model.Notes)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mx-auto">
                <p>@Html.DisplayFor(model => model.Rating)</p>
            </div>
        </div>
        <div class="row">
            @if (uOwns)
            {
                <a class="btn btn-danger" asp-action="DeleteBuild" asp-route-id="@Model.BuildID">Delete</a>
            }
            <a class="btn btn-outline-dark text-dark" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>