@model IEnumerable<WBSAlpha.Models.GameOneBuild>

@{
    ViewData["Title"] = "Builds";
}

<h1>@ViewData["Title"]</h1>

<ul class="list-group-horizontal-sm list-group">
    <li><a class="btn btn-success" asp-action="CreateBuild">Create New Build</a></li>
    @if (ViewBag.UserBuilds == true)
    {
        <li><a class="btn btn-info" asp-action="FindAllBuilds">View All Builds</a></li>
    }
    else
    {
        <li><a class="btn btn-info" asp-action="FindMyBuilds">Your Builds</a></li>
    }
</ul>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BuildName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.UserBuilds == true)
        {
            @foreach (var item in Model)
            {
                if (item.UserID == ViewBag.UserID)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BuildName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rating)
                        </td>
                        <td>
                            <a asp-action="ViewBuild" asp-route-id="@item.BuildID">Details</a> |
                            <a asp-action="DeleteBuild" asp-route-id="@item.BuildID">Delete</a>
                        </td>
                    </tr>
                }
            }
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BuildName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        <a asp-action="ViewBuild" asp-route-id="@item.BuildID">Details</a>
                        @if (ViewBag.UserID == item.UserID)
                        {
                            <a asp-action="DeleteBuild" asp-route-id="@item.BuildID">Delete</a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
