@model IEnumerable<WBSAlpha.Models.GameOneBuild>

@{
    ViewData["Title"] = "Builds";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="CreateBuild">Create New Build</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BuildName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr onclick="">
            <td>
                @Html.DisplayFor(modelItem => item.BuildName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BuildID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BuildID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BuildID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
