<div class="container">
    <div class="row align-middle p-5">
        <div class="col-4 offset-4 text-center mx-auto" style="border: 2px solid black; height: 20vh;">
            <h1 class="h1">@ViewBag.UserStandingID</h1>
            @if (@ViewBag.Banned == true)
            {
                <p style="height: 10vh;">You've been banned!</p>
                <p class="text-danger">Ban Ends: @ViewBag.JailEnds</p>
                <a class="btn btn-danger" asp-controller="Games" asp-action="Index">Return</a>
            }
            else if (@ViewBag.Kicked == true)
            {
                <p style="height: 10vh;">You've been kicked!</p>
                <p class="text-danger">Kick Ends: @ViewBag.JailEnds</p>
                <a class="btn btn-danger" asp-controller="Games" asp-action="Index">Return</a>
            }
            else
            {
                @if (@ViewBag.ValidUser == true)
                {
                    <h3 class="m-2">Welcome to Chat!</h3>
                    <a class="btn btn-success m-2" asp-controller="Games" asp-action="Chats">Enter Chat</a>
                }
                else
                {
                    <p class="text-warning" style="height: 10vh;">Username invalid, please change it.</p>
                    <a class="btn btn-warning" asp-area="Identity" asp-page="/Account/Manage/Index">Change Username</a>
                }
            }
        </div>
    </div>
</div>