@{
    CoreUser[] rudeUsers = (CoreUser[])ViewData["RudeUsers"];
    string[] reasons = (string[])ViewData["Reasons"];
    string[] rudeMessages = (string[])ViewData["RudeMessages"];
}
<div>
    <h1 class="mx-auto p-2 text-center">@ViewData["Title"]</h1>

    <partial name="~/Views/Shared/_ModerationNavigation.cshtml" />
    <div class="container mh-100" style="height: 65vh; border: 2px solid black; overflow-y: scroll; overflow-x: inherit;">
        <table class="table">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Message</th>
                    <th>Reason</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < rudeUsers.Length; i++)
                {
                <tr>
                    <td>@rudeUsers[i].UserName</td>
                    <td>@reasons[i]</td>
                    <td>@rudeMessages[i]</td>
                    <td>
                        <a class="btn btn-danger" asp-controller="Moderation" asp-action="BanUser" asp-route-id="@rudeUsers[i].Id">Ban</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>